name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Start application
        run: |
          java -jar ./artifacts/app-card-delivery.jar &

      - name: Run tests
        run: ./gradlew test --info
